{%extends "DL_app/layout.html" %}

{%block content%}
<div class="card w-100 mb-md-3 shadow-sm">
    <div class="card-body">
        <h4 class="card-title font-weight-bold mb-md-3">Посещаемость ( Теория Вероятности и Математическая Статистика ) :</h4>

        <table class="table mt-3">
            <caption>Процент по всем посещенным занятиям : 70,8%<br>Максимальный возможный процент : 75,9%</caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Описание</th>
                <th class="text-md-center" scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>4/11/19 (Пн)<br />11AM - 1PM</td>
                <td>Лекция</td>
                <td class="text-md-center">Был</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>11/11/19 (Пн)<br />11AM - 1PM</td>
                <td>Практика</td>
                <td class="text-md-center">Не был</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>18/11/19 (Пн)<br />11AM - 1PM</td>
                <td>Лекция</td>
                <td class="text-md-center">Был</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>25/11/19 (Пн)<br />11AM - 1PM</td>
                <td>Практика</td>
                <td class="text-md-center">Не был</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>2/12/19 (Пн)<br />11AM - 1PM</td>
                <td>Лекция</td>
                <td class="text-md-center">Был</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>9/12/19 (Пн)<br />11AM - 1PM</td>
                <td>Практика</td>
                <td class="text-md-center">Был</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>16/12/19 (Пн)<br />11AM - 1PM</td>
                <td>Лекция</td>
                <td class="text-md-center">Был</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>16/12/19 (Пн)<br />11AM - 1PM</td>
                <td>Практика</td>
                <td class="text-md-center">Был</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}