{%extends "DL_app/layout.html" %}

{%block content%}
            {% for news in all_news %}
            <div class="card w-100 shadow-sm mb-md-3">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">{{news.news_title}}</h4>
                    <div class="mb-md-4 text-muted">
                       {{news.dataminthyear}}, автор <em>{{news.news_author}}</em>
                    </div>
                    <p class="card-text">{{news.news_content}}</p>
                </div>
            </div>
            {% endfor %}

            <div class="card w-100 shadow-sm mb-md-3">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">В ноябре подписчики PS Plus получат Outlast 2 и Nioh</h4>
                    <div class="mb-md-4 text-muted">
                        30 Октября, автор <em>Михаил Лермонтов</em>
                    </div>
                    <p class="card-text">Nioh — экшн-RPG от студии Team Ninja, действие которой разворачивается в Японии периода Сэнгоку. Главный герой игры, английский мореплаватель Уильям Адамс, прибывает в страну и участвует в междоусобной войне, в которой сражаются как самураи, так и демоны-ёкаи.</p>
                    <p class="card-text">Outlast 2 — продолжение хоррора в стилистике found footage, в котором главный герой, журналист Блейк Лангерманн, противостоит религиозным фанатикам.</p>
                </div>
            </div>
            <div class="card w-100 shadow-sm mb-md-3">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Началась предзагрузка ПК-версии Red Dead Redemption 2</h4>
                    <div class="mb-md-4 text-muted">
                        29 Октября, автор <em>Лев Толстой</em>
                    </div>
                    <p class="card-text">Для установки нужно скачать 109 гигабайтов.</p>
                    <p class="card-text">Игроки, оформившие предзаказ на игру, обратили внимание, что в Rockstar Games Launcher стартовала предзагрузка — клиент для установки весит 109,47 гигабайта.</p>
                    <p class="card-text">Полноценная игра, судя по системным требованиям, займёт на диске несколько больше — около 150 ГБ.</p>
                    <p class="card-text">Релиз RDR 2 на ПК состоится 5 ноября в магазине Rockstar и Epic Games Store. В Steam игра выйдет позже — лишь в декабре.</p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
