{%extends "DL_app/layout.html" %}

{%block content%}
<div class="card w-100 mb-md-3 shadow-sm">
    <div class="card-body">
        <h4 class="card-title font-weight-bold mb-md-3">Оценки ( {{ course.course_name }} ) :</h4>

        <table class="table mt-3">
            <caption>РК средняя : 90,9% (A)<br>Итог Ведомости : 84,9 (B)</caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Задание</th>
                <th class="text-md-center" scope="col">Процент</th>
                <th class="text-md-center" scope="col">Оценка</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Data Types</td>
                <td class="text-md-center">97%</td>
                <td class="text-md-center">A</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Loops</td>
                <td class="text-md-center">98%</td>
                <td class="text-md-center">A</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Functions</td>
                <td class="text-md-center">82%</td>
                <td class="text-md-center">-B</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Data types & Data manipulation</td>
                <td class="text-md-center">92%</td>
                <td class="text-md-center">-A</td>
            </tr>
            <tr class="font-weight-bold">
                <th scope="row"></th>
                <td>РК - 1</td>
                <td class="text-md-center">85%</td>
                <td class="text-md-center">B</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Additions & Files</td>
                <td class="text-md-center">82%</td>
                <td class="text-md-center">-B</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Classes</td>
                <td class="text-md-center">50%</td>
                <td class="text-md-center">F</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Databases</td>
                <td class="text-md-center">95%</td>
                <td class="text-md-center">A</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Project</td>
                <td class="text-md-center">95%</td>
                <td class="text-md-center">A</td>
            </tr>
            <tr class="font-weight-bold">
                <th scope="row"></th>
                <td>РК - 2</td>
                <td class="text-md-center">75%</td>
                <td class="text-md-center">-B</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-primary font-weight-bold">
                <th scope="row"></th>
                <td>Финальный Экзамен</td>
                <td class="text-md-center">96%</td>
                <td class="text-md-center">A</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}